html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.filters {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.filters select {
  margin-bottom: 10px;
  width: 100%;
}


.blue-marker {
  border: 8px solid #006eff;
  position: absolute;

  border-radius: 50%;
  border: 8px solid #006eff;
  width: 8px;
  height: 8px;
}

.blue-marker::before {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  position: relative;
  background: white;
  left: -1px;
}
.blue-marker::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #006eff;
}


.red-marker {
  position: absolute;

  border-radius: 50%;
  border: 8px solid red;
  width: 8px;
  height: 8px;
}
.red-marker::before {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  position: relative;
  background: white;
  left: -1px;
}
.red-marker::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid red;
}

.custom-marker-shadow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(2px);
}